extends ./layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    //- pre= JSON.stringify(propiedad, undefined, 2)
    
    div(class="py-2")
        h1(class="text-center text-3xl font-extrabold") Ubicación en el mapa

        div(class="flex flex-col md:flex-row items-center py-10 gap-4")
            h2(class="text-sm uppercase text-gray-800 font-bold") Filtrar propiedades:

            div(class="w-full md:w-auto flex items-center gap-2")
                label(class="text-sm w-24 uppercase text-gray-500 font-bold" for="categorias") Categorías
                select(class="bg-white w-full px-3 py-2 flex-1 border border-gray-300 rounded-md shadow" id="categorias")
                    option(value="") -- Seleccione -- 
                    each categoria in categorias
                        option(value=categoria.id)= categoria.nombre

            div(class="w-full md:w-auto flex items-center gap-2")
                label(class="text-sm w-24 uppercase text-gray-500 font-bold" for="precios") Precios
                select(class="bg-white w-full px-3 py-2 flex-1 border border-gray-300 rounded-md shadow" id="precios")
                    option(value="") -- Seleccione --
                    option(value="0-10000" data-min="0" data-max="10000") $0 - $10,000
                    option(value="10000-50000" data-min="10000" data-max="50000") $10,000 - $50,000
                    option(value="50000-100000" data-min="50000" data-max="100000") $50,000 - $100,000
                    option(value="100000-300000" data-min="100000" data-max="300000") $100,000 - $300,000
                    option(value="300000+" data-min="300000" data-max="Infinity") + $300,000

        div(class="h-[600px] mt-5" id="mapa-inicio")

        section(class="py-2")
            h2(class="text-center text-3xl font-extrabold pt-8") Casas en venta

            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-10")
                each propiedad in casas
                    include ./templates/cardPropiedad

        section(class="py-2")
            h2(class="text-center text-3xl font-extrabold pt-8") Departamentos en venta

            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-10")
                each propiedad in departamentos
                    include ./templates/cardPropiedad 
                            

    

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mapaInicio.js") 